{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "targets": {
        "node": "4"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
