{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
