{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "node": "true"
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "react/jsx-uses-react": 1
  }
}
