{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:markdown/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "plugin:@typescript-eslint/no-var-requires"
  ]
}
